@font-face {
    font-family: avenir_medium;
    src: url(./assets/fonts/Avenir_Medium.ttf);
}

@font-face {
    font-family: avenir_black;
    src: url(./assets/fonts/AvenirLTStd-Black.otf), url(./assets/fonts/AvenirLTStd-Black.woff) url(./assets/fonts/AvenirLTStd-Black.woff2)
}

@font-face {
    font-family: avenir_book;
    src: url(./assets/fonts/AvenirLTStd-Book.otf), url(./assets/fonts/AvenirLTStd-Book.woff) url(./assets/fonts/AvenirLTStd-Book.woff2)
}

@font-face {
    font-family: avenir_roman;
    src: url(./assets/fonts/AvenirLTStd-Roman.otf), url(./assets/fonts/AvenirLTStd-Roman.woff) url(./assets/fonts/AvenirLTStd-Roman.woff2)
}

@font-face {
    font-family: avenir_heavy;
    src: url(./assets/fonts/Avenir_Heavy.ttf);
}