    @media only screen and (max-width: 1500px) {
        .nav-bar {
            display: none;
        }
        .header {
            display: none;
        }
    }
    
    @media only screen and (min-width: 1500px) {
        .nav-bar-cover2 {
            display: none;
        }
    }