* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
}

button {
    background-color: #ff2288;
    color: #FFFFFF;
}

button:hover {
    opacity: 50%;
}