.board {
    display: flex;
    height: 100vh;
}

.nav-bar {
    background-color: #222222;
    width: 320px;
    padding-top: 42px;
}

.nav-bar .nav-bar-grid {
    width: 280px;
    margin: 0 auto;
}

.nav-bar .nav-bar-grid .nav-bar-cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.content {
    flex: 1;
    overflow: scroll;
    overflow-x: hidden;
}

.box {
    width: 150px;
    height: 160px;
    background-color: blueviolet;
    margin: 5px;
}

.grid {
    width: 1231px;
    margin: 0 auto;
}

.nav-menu {
    margin-top: 71px;
    margin-bottom: 71px;
}

.vcard-row-1 {
    display: flex;
    height: 230px;
    margin-bottom: 40px;
}

.vcard-row-2 {
    display: flex;
    height: 230px;
}

.load-more-button {
    text-align: center;
    margin-top: 138px;
}