.board {
    display: flex;
    height: 100vh;
}

.nav-bar {
    background-color: #222222;
    width: 320px;
    padding-top: 20px;
}

.nav-bar .nav-bar-grid {
    width: 280px;
    margin: 0 auto;
}

.nav-bar .nav-bar-grid .nav-bar-cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-bar .nav-bar-grid .nav-bar-cover img:hover {
    cursor: pointer;
}

.nav-bar .nav-bar-grid .nav-bar-menu {
    margin-top: 80px;
    color: rgb(255, 255, 255);
}

.nav-bar .nav-bar-grid .nav-bar-menu ul li {
    width: 259px;
    height: 60px;
    font-family: avenir_medium;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.nav-bar .nav-bar-grid .nav-bar-menu ul li:hover {
    background-color: #ff2288;
    cursor: pointer;
}

.nav-bar .nav-bar-grid .nav-bar-menu ul li .nav-bar-menu-icon {
    margin-left: 30px;
    margin-right: 10px;
}

.nav-bar .nav-bar-grid .following {
    margin-top: 87px;
    color: #FFFFFF;
}

.nav-bar .nav-bar-grid .following ul li {
    margin-top: 29px;
    font-family: avenir_heavy;
}

.nav-bar .nav-bar-grid .following ul li .avatar {
    margin-left: 30px;
    margin-right: 10px;
}

.content {
    flex: 1;
    overflow: scroll;
    overflow-x: hidden;
}

.content .grid .designers {
    height: 500px;
    background-color: #FAFAFA;
    margin-top: 50px;
}

.content .grid .top-desginers-cover {
    display: flex;
    justify-content: space-between;
    padding: 60px 150px;
    font-family: avenir_heavy;
}

.content .grid .designers .users-info {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.box {
    width: 150px;
    height: 160px;
    background-color: blueviolet;
    margin: 5px;
}

.grid {
    width: 1190px;
    margin: 0 auto;
}

.nav-menu {
    margin-top: 71px;
    margin-bottom: 71px;
}

.vcard-row-1 {
    display: flex;
    height: 230px;
    margin-bottom: 40px;
}

.vcard-row-2 {
    display: flex;
    height: 230px;
}

.load-more-button {
    text-align: center;
    margin-top: 138px;
}

.board .grid .info {
    margin-top: 50px;
    background-color: #FAFAFA;
    padding: 10px;
}

.board .grid .info table {
    width: 100%;
}

.board .grid .info table {
    color: #000000;
}

.board .grid .footer {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
}

.board .grid .footer .facebook-icon:hover {
    background-color: blue;
    cursor: pointer;
}

.board .grid .footer .instagram-icon {
    margin-right: 10px;
    margin-left: 10px;
}

.board .grid .footer .instagram-icon:hover {
    background-color: blueviolet;
    cursor: pointer;
}

.board .grid .footer .watsapp-icon:hover {
    background-color: chartreuse;
    cursor: pointer;
}

.nav-bar-cover2 {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 15px;
}